<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>closed</title>
    <style>
        body{
            color:rgb(4, 47, 58);
            text-align: center;
            background-color:whitesmoke;
        }
        h2{
            padding-top: 50px;
            font-size: 50px;
        }
    </style>
</head>
<body>
   <h2>We are closed, the web application is only available in working time (Monday to Friday, from 9 to 17)</h2> 
   <img src="https://images-na.ssl-images-amazon.com/images/I/51CRXFHsF2L._AC_.jpg" alt="colsed" height="400px">
</body>
</html>