<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<header class="masthead" style="background-color:rgb(25, 124, 116);color:rgb(239, 236, 240); height:700px;">
            <div class="container"  style="
         
 ">
                <div class="masthead-subheading"style="
            font-size:48px;
 ">Welcome to VIFCO!</div>
                <div class="masthead-heading text-uppercase" style="
                 padding-left:30px;
            font-size:36px;
 ">"TAKE YOUR INVESTMENTS TO THE VISIONARY ATTITUDE..."</div>
            </div>
        </header>
