<!DOCTYPE html>

<html>

<head>

<!-- Required meta tags -->

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">





<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>




<!--fontawesome-->

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

<!--This is used for search icon. Instead putting icon manually it is loaded from fontawesome-->





    <title>{{title}} </title>

</head>

<body>

<!-- navbar -->

 <nav class="navbar navbar-expand-md navbar-light bg-dark ">


<button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse justify-content-between" id="nav">

<ul class="navbar-nav">

<li class="nav-item" >

<a class="nav-link text-light font-weight-bold px-3" href="/">Home</a>

</li>



<li class="nav-item">

<a class="nav-link text-light font-weight-bold px-3" href="/Services">Our Services</a>

</li>

<li class="nav-item">

<a class="nav-link text-light font-weight-bold px-3" href="/Contact">Contact us</a>

</li>

</ul>

</div>

</nav>
<div style="
 height:100%;"></div>
 {{{body}}}
 
</body>

</html>