<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <style>
        body{
            background-color:rgb(25, 124, 116);
            color:white;
            text-align: center;
        }
        h1{
            padding-top: 30px;
            font-size: 50px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        img{padding-top: 10px;}
    </style>
</head>
<body >
<h1>SERVICES</h1>
<h2>International consulting firm in finance, investments and mega projects. VIFCO provides expertise, feasibility studies, financial models, investment strategies and financial planning to international investors and entrepreneurs in different sectors, infrastructure projects, Energy Utilities, sustainable development , renewable energy and new technologies.</h2>
<img src="https://m.europages.com/filestore/post/ab/a/18543474_88affa32.jpg" alt="services">
</body>
</html>